
.font-link{
    font-family: 'Exo 2', sans-serif;
}

.form-card__controls {
    background-color: #9BADBB;
    padding: 0.4rem;
    margin: 0.5rem auto;
    display: flex;
    width: 10rem;
    max-width: 80%;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}